body {
  font-family: "gg sans", sans-serif;
  background-color: #f4f4f8;
  color: #333;
  margin: 0;
  padding: 20px; /* Uniform padding around the body */
}

/* Ensure full height for html and body */
html,
body {
  height: 100%;
}

/* Page container to control the flow of the document */
#page-container {
  display: flex;
  flex-direction: column;
  min-height: 63vh; /* Use viewport height to ensure it covers the whole screen */
}

h1 {
  color: #000;
  font-size: 24px;
  text-align: center;
}

#filter-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

select,
#userIdFilter {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff;
}

#messages {
  display: flex;
  flex-direction: column-reverse; /* Display new messages on top */
  align-items: center;
}
.message {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: wrap;
  width: 100%; /* Full width */
  max-width: 600px; /* Maximum width */
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  flex-shrink: 0; /* Prevent avatar from shrinking */
}
.message-content {
  position: relative;
  max-width: 100%;
  overflow: hidden; /* Hide overflow */
  word-break: break-word; /* To break long words and prevent overflow */
}
.attachment-image,
.embedded-image,
.custom-emoji,
.sticker {
  max-height: 100px;
  width: auto;
  border-radius: 8px;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555; /* Darker for better visibility */
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px; /* Adjust padding */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

a {
  text-decoration: none;
}

/* Adjust the pre, code block display for better readability and spacing */
pre,
code {
  background: #f4f4f8; /* Light grey background for readability */
  border: 1px solid #ccc; /* Subtle border for definition */
  padding: 0.5em; /* Padding inside code blocks */
  overflow-x: auto; /* Enables horizontal scrolling for long lines of code */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Buttons inside the modal */
.modal-content button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
  background-color: #f4f4f8; /* Or any other color */
}

.stat h1 {
  font-size: 2.5rem; /* Large font size for the number */
  margin: 0;
  font-weight: bold;
}

.stat p {
  font-size: 1rem; /* Adjust as needed for the description text */
  margin: 0;
  color: #333; /* Dark grey color */
}

#content-wrap {
  flex: 1; /* This will push the footer down only when there's not enough content */
}

footer {
  background-color: #e7e5e4;
  color: #333;
  padding: 20px;
  border-top: 1px solid #ccc;
  /* Removed width: 100%; since it's block level and will naturally expand */
  /* Removed flex-shrink: 0; as it's not necessary with the current flex settings */
}

.footer-container {
  display: flex;
  justify-content: space-between; /* This keeps the sections spread across the width */
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto; /* Center the footer container */
  padding: 0 20px;
  flex-wrap: wrap; /* Allows items to wrap if needed */
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px; /* Adds some margin to the right of each section */
}

.footer-section h2 {
  font-size: 1.25rem; /* Adjust the size as needed */
  margin-bottom: 0.5rem; /* Adjust space between title and text */
}

.footer-section p,
.footer-section a {
  font-size: 1rem; /* Adjust the size as needed */
  margin: 0; /* Remove margin for a tighter fit */
  padding: 0.25rem 0; /* Adjust padding as needed */
  list-style: none; /* Remove bullet points from list items if <ul>/<li> is used */
  color: #000;
}

.footer-section a {
  color: #000;
  text-decoration: none;
  padding: 5px 0; /* Ensures there's padding for clickable area */
}

.link {
  display: flex; /* Enables flexbox */
  align-items: center; /* Centers the items vertically */
  text-decoration: none; /* Optional: removes underline from the link */
}

.icon {
  height: 1rem; /* Example size, adjust as needed */
  width: 1rem; /* Example size, adjust as needed */
  margin-right: 0.5rem; /* Adds space between the icon and the text */
}

@media (max-width: 768px) {
  .message {
    flex-direction: column;
    align-items: center;
    margin: 10px; /* Less margin for tighter mobile layout */
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-section {
    margin-right: 0;
    margin-bottom: 1rem; /* Adds space between the sections on smaller screens */
  }
  .stats-container {
    flex-direction: column;
    text-align: center;
  }
  .stat {
    margin-bottom: 20px;
  }
  .stat:last-child {
    margin-bottom: 0;
  }
  body,
  #page-container {
    padding: 0; /* Remove padding on small screens for edge-to-edge design */
  }
}
